
.linkA{display: flex;
       justify-content: right;}

.intro{display: flex;
      flex-direction: column ;align-content: center;flex-wrap: wrap;}

.gros__titre{

}

.titre__secondaire{

}


.basdepage{display: flex;justify-content: center;}